<div class="content-img-face">
  <img class="img-facebook" src="https://static.xx.fbcdn.net/rsrc.php/y1/r/4lCu2zih0ca.svg" alt="Facebook">
</div>
<form>
  <div class="header-title">
    <span>Entrar no Facebook</span>
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
  </div>
  <button type="submit" class=" button-entrar btn btn-primary ">Entrar</button>
  <span class="link-forgot">
    <h5 class="forgot-account" routerLink="esqueceuSenha">Esqueceu a conta?</h5>
  </span>
  <div class="our-content-D">
    <hr>
    <span class="our-content">ou</span>
    <hr>
  </div>
  <div class="btn-create">
    <button class="btn btn-success create-conta" routerLink="cadastro">Criar nova conta</button>
  </div>
</form>
