<form action="">
  <div class="title-form">
    <h1>Encontre sua conta</h1>
    <hr>
  </div>
  <div class="p-comment">
    <p>Insira seu email ou número de celular para procurar sua <br> conta.</p>
  </div>
  <div class="input-form">
    <input type="text" class="form-control" placeholder="Email ou número de celular">
  </div>
  <hr>
  <div class="buttons-form">
    <button type="button" class="btn btn-secondary">Cancelar</button>
    <button type="button" class="btn btn-primary">Pesquisar</button>
  </div>
</form>
