<main>
  <div class="content-img-face">
    <img class="img-facebook" src="https://static.xx.fbcdn.net/rsrc.php/y1/r/4lCu2zih0ca.svg" alt="Facebook">
  </div>

  <form>
    <div class="content-title">
      <h3 class="create-account-titile"><b> Criar uma nova conta</b></h3>
      <h5 class="account-comment-title">É rápido e fácil.</h5>
      <hr>
    </div>
    <div class="form-name">
      <input class="form-control  inputs-names" type="text" placeholder="Nome" required>
      <input class="form-control  inputs-names" type="text" placeholder="Sobrenome" required>
    </div>
    <div class="birth-title">
      <h6>Data de nascimento ?</h6>
    </div>
    <div class="form-birth">
      <select class="form-control input-data" required>
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
        <option value="">4</option>
        <option value="">5</option>
        <option value="">6</option>
        <option value="">7</option>
        <option value="">8</option>
        <option value="">9</option>
        <option value="">10</option>
        <option value="">11</option>
        <option value="">12</option>
        <option value="">13</option>
        <option value="">14</option>
        <option value="">15</option>
        <option value="">16</option>
        <option value="">17</option>
        <option value="">18</option>
        <option value="">19</option>
        <option value="">20</option>
        <option value="">21</option>
        <option value="">22</option>
        <option value="">23</option>
        <option value="">24</option>
        <option value="">25</option>
        <option value="">26</option>
        <option value="">27</option>
        <option value="">28</option>
        <option value="">29</option>
        <option value="">30</option>
        <option value="">31</option>
      </select>
      <select class="form-control input-data" required>
        <option value="">jan</option>
        <option value="">fev</option>
        <option value="">mar</option>
        <option value="">abri</option>
        <option value="">mai</option>
        <option value="">jun</option>
        <option value="">jul</option>
        <option value="">ago</option>
        <option value="">set</option>
        <option value="">out</option>
        <option value="">nov</option>
        <option value="">dez</option>
      </select>
      <select class="form-control input-data" aria-placeholder="ano" required>
        <option value="">1986</option>
        <option value="">1987</option>
        <option value="">1988</option>
        <option value="">1989</option>
        <option value="">1990</option>
        <option value="">1991</option>
        <option value="">1992</option>
        <option value="">1993</option>
        <option value="">1994</option>
        <option value="">1995</option>
        <option value="">1996</option>
        <option value="">1997</option>
        <option value="">1998</option>
        <option value="">1999</option>
        <option value="">2000</option>
        <option value="">2001</option>
        <option value="">2002</option>
        <option value="">2003</option>
        <option value="">2004</option>
        <option value="">2005</option>
        <option value="">2006</option>
        <option value="">2007</option>
        <option value="">2008</option>
        <option value="">2009</option>
        <option value="">2010</option>
        <option value="">2011</option>
        <option value="">2012</option>
        <option value="">2013</option>
        <option value="">2014</option>
        <option value="">2015</option>
        <option value="">2016</option>
        <option value="">2017</option>
        <option value="">2018</option>
        <option value="">2019</option>
        <option value="">2020</option>
        <option value="">2021</option>
        <option value="">2022</option>
        <option value="">2023</option>
        <option value="">2024</option>
      </select>
    </div>
    <div class="gender-title">
      <h6>Gênero ?</h6>
    </div>
    <div class="form-gender">
      <span class="custom-control custom-radio gender">
        <label class="custom-control-label" for="customRadioInline1">Masculino</label>
        <input type="radio" class="custom-control-input gender-input" id="customRadio1" name="customRadio">
      </span>
      <span class="custom-control custom-radio gender">
        <label class="custom-control-label" for="customRadioInline1">Feminino</label>
        <input type="radio" class="custom-control-input gender-input" id="customRadio2" name="customRadio">
      </span>
      <span class="custom-control custom-radio gender">
        <label class="custom-control-label" for="customRadioInline1">Personalizado</label>
        <input type="radio" class="custom-control-input gender-input" id="customRadio3" name="customRadio">
      </span>
    </div>
    <div class="content-input-email">
      <input type="text" class="form-control" placeholder="Celular ou email" required>
    </div>
    <div class="content-input-email">
      <input type="password" class="form-control" placeholder="Senha" required>
    </div>
    <div class="guidancer">
      <div class="guidance-content">
        <p>As pessoas que usam nosso serviço podem ter enviado suas informações de contato para o Facebook. <a
            href="https://www.facebook.com/help/637205020878504" target="_blank"> Saiba mais</a></p>
      </div>
      <div class="guidance-content">
        <p>Ao clicar em Cadastre-se, você concorda com nossos <a href="https://www.facebook.com/legal/terms/update"
            target="_blank">Termos</a>, <a
            href="https://www.facebook.com/privacy/policy/?entry_point=data_policy_redirect&entry=0" target="_blank">
            Política de Privacidade</a> e <a
            href="https://www.facebook.com/privacy/policies/cookies/?entry_point=cookie_policy_redirect&entry=0"
            target="_blank"> Política de Cookies</a>. Você poderá receber notificações por SMS e cancelar isso quando
          quiser.</p>
      </div>
    </div>
    <div class="button-register">
      <button type="button" class="btn btn-success">Cadastre-se</button>
    </div>
    <div class="questioning-account">
      <label for="" routerLink="/">Já tem uma conta ?</label>
    </div>
  </form>
</main>
